<div>
  <.live_component
    module={ConvComp}
    graph_id={@graph_id}
    current_node={@current_node}
    sending_message={@sending_message}
    form={@form}
    path={@path}
    message_text={@message_text}
    id="ConvComp"
  />
</div>
