@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.top-right {
    position: absolute;
    top: 0;
    left: 0;
}

.node {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    border-bottom: 1px solid #eee;
}

.node h2 {
    margin: 0;
    padding: 0.25rem 0.5rem;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: monospace;
    font-size: 0.9rem;
    box-shadow: 0 2px 0 #ccc;
    min-width: 2rem;
    text-align: center;
}

.tiny-text {
    font-size: 0.6em;
}

/* .node .proposition {
    margin: 0;
    font-size: 1rem;
    line-height: 1.2;
} */

/* .answer {
    border: 1px solid greenyellow;
}

.thesis {
    border: 1px solid green;
}

.antithesis {
    border: 1px solid blue;
    flex-direction: row-reverse;
}

.synthesis {
    border: 1px solid purple;
}

.user {
    border: 2px solid red;
} */
/*
.node h2 {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 0 #ccc;
    font-family: monospace;
    font-size: 0.9rem;
    margin: 0;
    min-width: 2rem;
    padding: 0.25rem 0.5rem;
    text-align: center;
}

.node h3 {
    font-size: 1.25rem;
    margin: 0;
} */
