<main class="">
  <div class="mx-auto">
    <.flash_group flash={@flash} />
    <%= if assigns[:inner_block] do %>
      {render_slot(@inner_block)}
    <% else %>
      {@inner_content}
    <% end %>
  </div>
</main>
