<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="MuDG" suffix=" : Explore Ideas Together">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  </head>
  <body class="bg-white">
    <header class="sticky top-0 bg-white shadow-sm z-10" id="userHeader">
      <nav class="flex items-center justify-between px-3 sm:px-6 lg:px-8 py-3">
        <div class="flex items-center gap-2">
          <.link href={~p"/"} class="flex items-center">
            <span class="font-bold text-sm sm:text-base text-zinc-900 ml-1">MuDG</span>
          </.link>
        </div>
        <div class="flex items-center gap-2 sm:gap-4">
          <%= if @current_user do %>
            <.link
              href={~p"/my/ideas"}
              class="text-xs sm:text-sm text-zinc-900 font-medium hover:text-zinc-700"
            >
              Ideas
            </.link>
            <.link
              href={~p"/users/settings"}
              class="text-xs sm:text-sm text-zinc-900 font-medium hover:text-zinc-700"
            >
              {@current_user.email}
            </.link>
          <% else %>
            <.link
              href={~p"/users/register"}
              class="text-xs sm:text-sm text-zinc-900 font-medium hover:text-zinc-700"
            >
              Register
            </.link>
            <.link
              href={~p"/users/log_in"}
              class="text-xs sm:text-sm text-zinc-900 font-medium hover:text-[#FD4F00] ml-2 px-3 py-1 border border-[#FD4F00] rounded-md"
            >
              Log in
            </.link>
          <% end %>
        </div>
      </nav>
    </header>

    <main>
      {@inner_content}
    </main>
  </body>
</html>
