<section>
  <h2 class="text-2xl font-bold text-gray-700 mb-4">All Graphs ({length(@graphs)})</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <%= for {g, count} <- @graphs do %>
      <DialecticWeb.PageHtml.GraphComp.render
        graph={g}
        link={gen_link(g.title)}
        count={count}
        id={"graph-comp-#{g.title}"}
      />
    <% end %>
  </div>
</section>
