<div class="container mx-auto p-4">
  <article class="prose prose-stone prose-md">
    <h1>Dialectix</h1>
    <p>
      Dialectics is a method of reasoning that seeks to understand things in their movement and change. It is a way of thinking that is based on the idea that everything is interconnected and that change is constant. Dialectics is a powerful tool for understanding complex systems and for making sense of the world around us.
    </p>
    <p>
      As such Dialectix is a tool for thought.  A multiplayer chat interface to allow the full reasoning behind an argument to be followed.  Many people can think together to build out a masssive knowledge graph, interacting with LLM's to integrate the knowledge into the whole.
    </p>
  </article>
  <!-- Grid: on small screens, one per row; on md+ screens, two per row -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <%= for {instruction, index} <- @instructions |> Enum.with_index() do %>
      <!-- Instruction card -->
      <div class="bg-white rounded-lg shadow p-4 flex flex-col md:flex-row">
        <!-- Graph container -->
        <div class="w-full md:w-1/2">
          <div
            id={"graph-" <> Integer.to_string(index)}
            class="w-full h-full info-graph"
            data-graph={instruction.graph}
            data-node={instruction.node}
            data-cols={Jason.encode!(Dialectic.Consts.Colours.graph_cols())}
            data-updateview="false"
            data-div={"graph-" <> Integer.to_string(index)}
            phx-hook="Graph"
            phx-update="ignore"
          >
          </div>
        </div>
        <!-- Description container -->
        <div class="w-full md:w-1/2 p-4">
          <h3 class="text-xl font-bold mb-2">{instruction.title}</h3>
          <p class="text-gray-700">{instruction.description}</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
